<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        Copyright &copy 2013 Shapebootstrap | All Rights Reserved<br/>
        <small>Aliquam tincidunt mauris eu risus.</small>
      </div>
      <div class="col-lg-6">
        <div class="social pull-right">
          <a href="#"><%= image_tag 'social/googleplus.png' %></a>
          <a href="#"><%= image_tag 'social/twitter.png' %></a>
          <a href="#"><%= image_tag 'social/rss.png' %></a>
        </div>
      </div>
    </div>
  </div>
</footer>
