<h2>Comments</h2>

<div class="comments">

  <div class="media">
    <a href="#" class="pull-left"><img src="img/img-60x60.jpg" class="media-object" alt=''/></a>

    <div class="media-body">
      <h4 class="media-heading">
        Nested media heading
      </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
      purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </div>
  </div>
  <div class="media">
    <a href="#" class="pull-left"><img src="img/img-60x60.jpg" class="media-object" alt=''/></a>

    <div class="media-body">
      <h4 class="media-heading">
        Nested media heading
      </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
      purus odio, vestibulum in vulputate at, tempus viverra turpis.

      <div class="media">
        <a href="#" class="pull-left"><img src="img/img-60x60.jpg" class="media-object" alt=''/></a>

        <div class="media-body">
          <h4 class="media-heading">
            Nested media heading
          </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        </div>
      </div>


    </div>
  </div>


  <h2>Leave a Message</h2>

  <form>

    <input class="col-lg-8" type="text" placeholder="Name"/>
    <input class="col-lg-8" type="email" placeholder="Email" required/>
    <textarea class="col-lg-8" rows="10" placeholder="Message"></textarea>


    <button type="submit" class="btn btn-large btn-primary">Submit</button>

  </form>


</div>

